.anchor {
  position: absolute;
  top: 0;
  right: 0;
}
.head {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: flex-end;
  gap: 20px;
  margin-bottom: clamp(36px, 5vw, 72px);
}
.head > div {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.grid {
  display: grid;
  gap: 48px var(--col-gap);
}
@media (min-width: 768px) {
  .grid {
    grid-template-columns: repeat(2, 1fr);
  }
  .grid > div:nth-child(3) {
    display: none;
  }
}
@media (min-width: 1180px) {
  .grid {
    grid-template-columns: repeat(3, 1fr);
  }
  .grid > div:nth-child(3) {
    display: block;
  }
  .grid > div:nth-child(2) {
    margin-top: 72px;
  }
}
